<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="EmployeeCode" value="01115" />
    <add key="To" value="crkr-admin@contour-software.com" />
    <add key="CC" value="Sfarooqi@constellationhbs.com" />
  </appSettings>
</configuration>